@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles... */

.heroique{
    @apply bg-center bg-cover bg-no-repeat;
    background-image: url("../image/2327.jpg");
}
 .link{
    @apply text-lg py-2 hover:border-b hover:border-orange-600 hover:text-orange-400 ml-3;
}

.las:hover{
    transform: scale(1.2);
  
}
.las{
     transition: transform .5s ease; 
}

.color{
    @apply text-red-500;
}